.search-bar{
    position: relative;
}

.search-location-list-group{
    position: absolute,;
    width: 100%;
    font-size:14px;
}

.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

.btn-circle {
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    
}
